
<% layout('layouts/boilerplate') %>
<%-include('../partials/navbar') %>
<%-include('../partials/flash') %>
    <div class="row">
        <% for(let item of products){ %>
            <div class="col-lg-4 col-md-6">
                <div class="card shadow mx-auto" style="width: 18rem;">

                    <img class="card-img-top" src="<%=item.img%>" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title"><%=item.name%></h5>
                        <h5 class="card-title"><%=item.price%></h5>
                        <p class="card-text"><%=item.description%></p>
                        <a href="/products/<%=item._id%>" class="btn btn-primary">View</a>
                        <% if(currentUser && currentUser.role === 'seller'){%>

                        <form class="d-inline-block" action="/products/<%=item._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>

                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    </div>
    </body>

    </html>