<% layout('layouts/boilerplate') %>
<%-include('../partials/navbar') %>
<%-include('../partials/flash') %>
    <div class="row">

        <!-- Displaying flash -->
        <div class="mb-3">
            <% if(msg && msg.length){ %>
                
                <div class="alert alert-info" role="alert">
                    <strong> <%=msg%> </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            <% } %>
        </div>

        <div class="col-lg-6 col-md-4">
        <div class="card shadow mx-auto" style="width: 18rem;">

            <img class="card-img-top" src="<%=foundProduct.img%>" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title"><%=foundProduct.name%></h5>
                <h5 class="card-title"><%=foundProduct.price%></h5>
                <p class="card-text"><%=foundProduct.description%></p>
                
                <form method="POST" action="/user/<%=foundProduct._id%>/add" class="d-inline-block">
                    <button class="btn btn-info">Add To Cart</button>
                </form>
                
                
                <a href="#" class="btn btn-primary">Buy Now</a>
                <% if(currentUser && currentUser.role === 'seller'){ %>
                    <a href="/products/<%=foundProduct._id%>/edit" class="btn btn-primary">Edit</a>
                <% } %>
            
            </div>
            
        </div>
        </div>  
        <div class="col-lg-4">
            <h1 class="display-5">Leave a Review</h1>
            <form action="/products/<%=foundProduct._id%>/review" method="POST">
                <div >
                    <fieldset class="starability-basic">
                        <legend>Give rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="comment">Comment:</label>
                    <textarea class="form-control" row="3" name="comment" id="comment"></textarea>
                </div>

                <button class="btn btn-sm btn-success">Add Review</button>
            </form>

            <div class="my-3">
                
                <% for(let review of foundProduct.reviews){ %>

                    <div class="card">
                        <div class="card-header">
                            <p class="starability-result" data-rating="<%=review.rating%>">
                            <p>
                                <% if(review.createdAt){ %>
                                    <%=review.createdAt.toDateString() %>
                                <% } %>

                            </p>
                        </div>
                        <div class="card-body">
                          <blockquote class="blockquote mb-0">
                            <p><%=review.comment%></p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            <button href="#" class="btn btn-primary">Delete</button>
                          </blockquote>
                        </div>

                      </div>
                <% } %>

            </div>

        </div>
    </div>
    
    </body>

    </html>